
@{
    ViewBag.Title = "PurchaseRequired";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container text-center">

    <h2>Thông Báo !!!!!!!</h2>
    <h4>Bạn chưa mua truyện này. Hãy mua để đọc tiếp!</h4>
    @*<p>@ViewBag.Message</p>*@

    @* Hiển thị nút hoặc liên kết để chuyển hướng đến trang mua truyện *@

    @*    @using (Html.BeginForm("BuyStory", "Purchase", FormMethod.Post))
        {
            @Html.Hidden("storyId", ViewData["StoryId"])
            <input type="submit" value="Mua Truyện" />
        }*@
    
</div>