
@{
    ViewBag.Title = "DangNhap";
}


<head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->

    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .containerss {
            display: flex;
            justify-content: center; /* Căn theo chiều ngang */
            align-items: center; /* Căn theo chiều dọc */
         
        }

        .aaa {
            margin: 0 10px;
            border-radius: 50%;
            box-sizing: border-box;
            background: #fff;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: 0.5s;
            background: rgba(0,0,0,0);
            color: var(--color);
            font-size: 2.5em;
            -webkit-box-reflect: below 5px linear-graduent(to bottom, rgba(0,0,0,0), rgba(0,0,0,4));

        }
            a:hover {
                background: var(--color);
                color: #050801;
                box-shadow: 0 0 5px var(--color), 0 0 25px var(--color),0 0 50px var(--color),0 0 200px var(--color);
            }

    </style>
</head>
<body>


    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="~/img/User/backImg.jpg" alt="">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="~/img/User/backImg.jpg" alt="">

                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form name="DangNhap" action="~/User/DangNhap" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" id="TenDN" name="TenDN" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" id="MatKhau" name="MatKhau" placeholder="Enter your password" required>
                            </div>
                            <div class="text"><a href="/User/ForgotPassword">Forgot password?</a></div>
                            <div class="button input-box">
                                <input type="submit" value="Sumbit">
                            </div>
                            <div class="text sign-up-text">Don't have an account?<label for="flip">Sigup now</label></div>
                            <br />
                            <div style="text-align:center">

                                <span>------------Or------------</span>

                            </div>
                            <br />
                         
                        <div class="containerss">
                            <a class="aaa" href="@ViewBag.response" style="--color: #FF0050">
                                <i class="fa-brands fa-google"></i>
                            </a>

                            <a  class="aaa" href="@ViewBag.Urll" style="--color: #4267B2">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>



                        </div>

                        </div>
</form>
                </div>
                <div class="signup-form">

                    <div class="title">Signup</div>
                    <form name="DangKy" action="~/User/DangKy" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" id="TaiKhoan" name="TaiKhoan" placeholder="ten dn" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" id="HoTen" name="HoTen" placeholder="HoTen" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" id="DiaChi" name="DiaChi" placeholder="DiaChi" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" id="Email" name="Email" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" id="SDT" name="SDT" placeholder="Nhap SDT" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" id="MatKhau" name="MatKhau" placeholder="Enter your password" required>
                            </div>

                            <div class="button input-box">
                                <input type="submit" value="Sumbit">
                            </div>
                            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
                  
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

</body>
