
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}


    <h1 class="display-4">Chào mừng đến với Trang Quản Lý Admin</h1>
    <p class="lead">Hãy bắt đầu quản lý tài nguyên của bạn từ đây.</p>


